@charset "utf-8";
/* CSS Document */

#header
{width:800px;
height:150px;
background-color:#C4DC13;
margin-left:auto;
margin-right:auto;
padding:0px;
}
#navigasi
{width:800px;
height:50px;
background-color: #000000;
margin-left:auto;
margin-right:auto;
padding:0px;
}
#konten
{width:800px;
height:450px;
background-color:#cc66ff;
margin-left:auto;
margin-right:auto;
padding:0px;
}
.kiri
{width:300px;
height:450px;
background-color:#E81A1A;
float:left;
padding:0px;
}
.kiriatas
{width:300px;
height:250px;
background-color:#127B80;
padding:0px;
}
.kiribawah
{width:300px;
height:200px;
background-color:#EB970C;
padding:0px;
}
.kanan
{width:500px;
height:450px;
background-color:#1DD3F1;
float:right;
padding:0px;
}
#footer
{width:800px;
height:50px;
background-color:#99cccc;
margin-left:auto;
margin-right:auto;
padding:0px;
}


